version: '3.8'

services:
  api:
    build: .
    container_name: contact-auth-api-multi-stage
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
       mongo:
          condition: service_healthy
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

    healthcheck:
      test: ["CMD", "mongosh","--eval","db.adminCommand('ping')"]
      interval: 30s
      timeout: 30s
      retries: 5
      

volumes:
 mongo_data: